//
// Cards
//

// Card Form

.card-form {
  color: $body-color;
  background-color: $gray-lighter;
  box-shadow: $default-box-shadow;
  border-radius: $border-radius;
  padding: $spacer;
  // @include position(abs, 0 0 null 0);
  position: absolute;
  top: -$spacer * 4;
  left: 0;
  right: 0;
}

// .card-form .form-group {
//   margin-bottom: $spacer
// }

.card-form .custom-select,
.card-form .form-control {
  font-family: $font-family-base;
  font-size: $font-size-lg;
}