.section-xs {
  padding-top: $spacer * 1.25;
  padding-bottom: $spacer * 1.25;
}
.section-sm {
  padding-top: $spacer * 2.5;
  padding-bottom: $spacer * 2.5;
}
.section-md {
  padding-top: $spacer * 5;
  padding-bottom: $spacer * 5;
}
.section-lg {
  padding-top: $spacer * 7.5;
  padding-bottom: $spacer * 7.5;
}